#kontener {
    width: 90%;
    margin: 1em auto;
}

.keretek {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
}

.html-kod {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5em;
    margin-right: 1em;
}

.id-jelolo {
    color: red;
    font-weight: bold;
}

.css-kod {
    background-color: black;
    border-radius: 10px;
    color: whitesmoke;
}

#kimenet {
    background-color: white;
    border: 1px solid black;
    height: 400px;
    margin-bottom: 1em;
    width: 100%;
}

td {
    padding: 5px;
    /* background-repeat: ; */
}

td:first-child {
    color: rgb(253, 118, 118);
}

ul {
    list-style-position: inside;
}

h3 {
    margin-top: 1em;
    color: red;
}

select:focus {
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;
}

.alahuzott {
    text-decoration: underline;
}

.pelda {
    color: green;
    font-weight: bold;
}

pre {
    overflow: auto;
}

@media screen and (max-width: 1200px) {
    .keretek {
        grid-template-columns: 100%;
    }

    .html-kod {
        margin-bottom: 1em;
        width: 100%;
    }

    .csharp-kod {
        margin-bottom: 1em;
        width: 100%;
    }

    .css-kod {
        width: 100%;
    }
}
